.base {
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.filled {
    color: var(--primary-text-color);
    background-color: var(--primary-base-color);
    &:hover {
        background-color: var(--primary-dark-color);
    }
    &:disabled {
        background-color: var(--primary-light-color);
    }
}

.tonal {
    color: var(--text-color);
    background-color: var(--primary-light-color);
    &:hover {
        color: var(--primary-base-color);
    }
}

.outlined {
    color: var(--primary-text-color);
    border-color: var(--primary-dark-color);
    border-width: 0.05rem;
    border-style: solid;
    &:hover {
        color: var(--bg-color-hover);
    }
}
