### IntelliJ ###
.idea
*.iml

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

### Gradle ###
.gradle
**/build/
!src/**/build/
!gradle-wrapper.jar
!gradle-wrapper.properties
