DEBUG=true
MONITOR_ALLOWED_ORIGINS=http://localhost:5173
MONITOR_HMAC_SECRET=
MONITOR_GOOGLE_AUTH_ENABLED=
MONITOR_GOOGLE_AUTH_REDIRECT_URL=
MONITOR_GOOGLE_AUTH_CLIENT_ID=
MONITOR_GOOGLE_AUTH_CLIENT_SECRET=
MONITOR_GOOGLE_AUTH_RESULT_PAGE_URL=
