services:
  monitor_db:
    image: mariadb:12.1.2@sha256:f54db0cb3ccfe9431aba6d08c65a1763c499789b116b4cb651dd7fcf325965b3
    volumes:
      - ./init-db/:/docker-entrypoint-initdb.d/
      - ./.data/mysql/:/var/lib/mysql
    environment:
      MARIADB_RANDOM_ROOT_PASSWORD: true
      MYSQL_USER: monitor_user
      MYSQL_PASSWORD: monitor_pw
    ports:
      - "3306:3306"
    networks:
      - monitor_db
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
  monitor_db_migration:
    image: arigaio/atlas:0.38.0-community-alpine@sha256:69444c44997a19eba2760734343c23fffcfabd125787113c7ae4c1945d89b9b2
    command: >
      schema apply
      --auto-approve
      --url "maria://monitor_user:monitor_pw@monitor_db:3306/monitor_db"
      --to file:///schema/schema.sql
      --dev-url "maria://monitor_user:monitor_pw@monitor_db:3306/monitor_dev"
    networks:
      - monitor_db
    depends_on:
      monitor_db:
        condition: service_healthy
    volumes:
      - ../schema/database:/schema
  monitor_http_server:
    image: monitor_http_server:latest
    ports:
      - "3000:3000"
    networks:
      - monitor_db
    depends_on:
      monitor_db:
        condition: service_healthy
    environment:
      MONITOR_DB_HOST: monitor_db
      MONITOR_DB_PORT: 3306
      MONITOR_DB_USER: monitor_user
      MONITOR_DB_PASSWORD: monitor_pw
      MONITOR_DB_NAME: monitor_db
      MONITOR_HTTP_PORT: 3000
    env_file: "app_http.env"
  monitor_cleanup_batch:
    image: monitor_cleanup_batch:latest
    networks:
      - monitor_db
    depends_on:
      monitor_db:
        condition: service_healthy
    environment:
      MONITOR_DB_HOST: monitor_db
      MONITOR_DB_PORT: 3306
      MONITOR_DB_USER: monitor_user
      MONITOR_DB_PASSWORD: monitor_pw
      MONITOR_DB_NAME: monitor_db
  monitor_setup_cmd:
    image: monitor_setup_cmd:latest
    networks:
      - monitor_db
    depends_on:
      monitor_db:
        condition: service_healthy
    environment:
      MONITOR_DB_HOST: monitor_db
      MONITOR_DB_PORT: 3306
      MONITOR_DB_USER: monitor_user
      MONITOR_DB_PASSWORD: monitor_pw
      MONITOR_DB_NAME: monitor_db

networks:
  monitor_db:
    driver: bridge
