.baseColor {
    color: var(--text-color);
}

.redColor {
    color: var(--text-error-color);
}

.primaryColor {
    color: var(--primary-base-color);
}

.primaryDarkHoverColor {
    &:hover {
        color: var(--primary-dark-color);
    }
}

.smallSize {
    font-size: 0.875rem;
}

.baseSize {
    font-size: 1.0rem;
}

.largeSize {
    font-size: 1.125rem;
}
