name: App CI
on:
  push:
    paths: [ 'app/**', '.github/workflows/app_ci.yml' ]
  pull_request:
    paths: [ 'app/**', '.github/workflows/app_ci.yml' ]

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./app
    services:
      mariadb:
        image: mariadb:12.1.2@sha256:e1bcd6f85781f4a875abefb11c4166c1d79e4237c23de597bf0df81fec225b40
        ports:
          - "3306:3306"
        env:
          MYSQL_DATABASE: monitor_db
          MYSQL_ROOT_PASSWORD: monitor_pw
        options: >-
          --health-cmd "healthcheck.sh --connect --innodb_initialized"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      MONITOR_DB_HOST: 127.0.0.1
      MONITOR_DB_PORT: 3306
      MONITOR_DB_USER: root
      MONITOR_DB_PASSWORD: monitor_pw
      MONITOR_DB_NAME: monitor_db
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          sparse-checkout: |
            app
            schema/database
      - name: "Set up Go"
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: app/go.mod
          cache: true
          cache-dependency-path: |
            app/go.sum
      - name: "Build"
        run: go build cmd/http/main.go
      - name: "Run test"
        run: go run gotest.tools/gotestsum@v1.12.3 --junitfile ~/test-results.xml
      - name: "Upload Results"
        uses: mikepenz/action-junit-report@e08919a3b1fb83a78393dfb775a9c37f17d8eea6 # v6.0.1
        if: ${{ success() || failure() }}
        continue-on-error: true
        with:
          report_paths: ~/test-results.xml
          check_name: Test Report
